body {
    font-family: 'Inter', sans-serif;
}

/** ========== Header Section ========== */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.nav__logo {
    margin-right: 50px;
    user-select: none;
    cursor: pointer;
}

.nav__logo h1 {
    font-size: 22px;
}

.nav__link {
    display: inline-block;
    font-size: 18px;
    position: relative;
    margin-right: 25px;
}

.nav__link::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: var(--primary);
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}


/** ========== Hero Section ========== */
.hero {
    padding: 100px 0;
}

.hero .row .col {
    width: 50%;
}

.hero__heading {
    font-size: 65px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hero__description {
    margin: 30px 0 40px;
    width: 470px;
    line-height: 1.6;
}

.hero__button {
    margin-bottom: 70px;
}

.hero__button p {
    width: 250px;
    line-height: 1.4;
}


/** ========== Home Section ========== */
.home {
    padding: 100px 0;
}

.home__heading {
    font-size: 55px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.home .row .col {
    width: 46%;
    margin-bottom: 40px;
}

.home .icon {
    display: inline-flex;
    align-items: center;
    padding: 24px;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.home .icon:hover {
    transform: rotate(45deg);
}

.home__title {
    font-size: 22px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.home__title:hover {
    color: var(--primary);
}

.home__description {
    line-height: 1.6;
}


/** ========== About Section ========== */
.about {
    padding: 100px 0;
}

.about .row .col {
    width: 43%;
}

.about__texts {
    margin-bottom: 70px;
}

.about__icon {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    padding: 24px;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.about__icon:hover i {
    color: var(--hover--primary);
}

.about__title {
    font-size: 22px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.about__title:hover {
    color: var(--primary);
}

.about__description {
    line-height: 1.6;
}

.about__heading {
    font-size: 50px;
    line-height: 1.1;
}

.about__text {
    margin-bottom: 30px;
    width: 450px;
    line-height: 1.6;
}


/** ========== Banner Section ========== */
.banner {
    padding: 100px 0;
}

.banner .col {
    flex-direction: column;
}

.banner__title {
    font-size: 50px;
    line-height: 1.1;
}

.banner__title span,
.banner__description span {
    display: block;
}

.banner__description {
    margin: 30px 0 40px;
    line-height: 1.6;
}

.banner .btn {
    margin-bottom: 50px;
}

.banner .brands {
    gap: 3rem;
    padding-top: 50px;
    border-top: 2px solid #B4B4B4;
}


/** ========== Features Section ========== */
.features {
    padding: 100px 0;
}

.features .row .col {
    width: 46%;
}

.features .row .col:nth-child(2) {
    justify-content: end;
}

.features .row .col:first-child {
    flex-wrap: wrap;
}

.feature__box {
    width: 49%;
    padding: 20px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.feature__box:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.feature__box i {
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.feature__box i:hover {
    color: var(--hover--primary);
}

.feature__title {
    font-size: 25px;
    line-height: 1.1;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.feature__title:hover {
    color: var(--primary);
}

.feature__description {
    line-height: 1.6;
}


/** ========== How it works Section ========== */
.howit {
    padding: 100px 0;
}

.howit__title {
    font-size: 50px;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.howit .col {
    width: 100%;
}

.howit__img {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.howit__img:hover {
    transform: scale(1.1);
}

.howit__info {
    font-size: 25px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.howit__info:hover {
    color: var(--primary);
}