body {
    font-family: 'Inter', sans-serif;
}

/** ========== Header Section ========== */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.nav__logo {
    margin-right: 50px;
    user-select: none;
    cursor: pointer;
}

.nav__logo h1 {
    font-size: 22px;
}

.nav__link {
    display: inline-block;
    font-size: 18px;
    position: relative;
    margin-right: 25px;
}

.nav__link::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: var(--primary);
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}


/** ========== Hero Section ========== */
.hero {
    padding: 100px 0;
}

.hero .row .col {
    width: 50%;
}

.hero__heading {
    font-size: 65px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hero__description {
    margin: 30px 0 40px;
    width: 470px;
    line-height: 1.6;
}

.hero__button {
    margin-bottom: 70px;
}

.hero__button p {
    width: 250px;
    line-height: 1.4;
}


/** ========== Home Section ========== */
.home {
    padding: 100px 0;
}

.home__heading {
    font-size: 55px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.home .row .col {
    width: 46%;
    margin-bottom: 40px;
}

.home .icon {
    display: inline-flex;
    align-items: center;
    padding: 24px;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.home .icon:hover {
    transform: rotate(45deg);
}

.home__title {
    font-size: 22px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.home__title:hover {
    color: var(--primary);
}

.home__description {
    line-height: 1.6;
}


/** ========== About Section ========== */
.about {
    padding: 100px 0;
}

.about .row .col {
    width: 43%;
}

.about__texts {
    margin-bottom: 70px;
}

.about__icon {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    padding: 24px;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.about__icon:hover i {
    color: var(--hover--primary);
}

.about__title {
    font-size: 22px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.about__title:hover {
    color: var(--primary);
}

.about__description {
    line-height: 1.6;
}

.about__heading {
    font-size: 50px;
    line-height: 1.1;
}

.about__text {
    margin-bottom: 30px;
    width: 450px;
    line-height: 1.6;
}


/** ========== Banner Section ========== */
.banner {
    padding: 100px 0;
}

.banner .col {
    flex-direction: column;
}

.banner__title {
    font-size: 50px;
    line-height: 1.1;
}

.banner__title span,
.banner__description span {
    display: block;
}

.banner__description {
    margin: 30px 0 40px;
    line-height: 1.6;
}

.banner .btn {
    margin-bottom: 50px;
}

.banner .brands {
    gap: 3rem;
    padding-top: 50px;
    border-top: 2px solid #B4B4B4;
}


/** ========== Features Section ========== */
.features {
    padding: 100px 0;
}

.features .row .col {
    width: 46%;
}

.features .row .col:nth-child(2) {
    justify-content: end;
}

.features .row .col:first-child {
    flex-wrap: wrap;
}

.feature__box {
    width: 49%;
    padding: 20px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.feature__box:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.feature__box i {
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.feature__box i:hover {
    color: var(--hover--primary);
}

.feature__title {
    font-size: 25px;
    line-height: 1.1;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.feature__title:hover {
    color: var(--primary);
}

.feature__description {
    line-height: 1.6;
}


/** ========== How it works Section ========== */
.howit {
    padding: 100px 0;
}

.howit__title {
    font-size: 50px;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.howit .col {
    width: 100%;
}

.howit__img {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.howit__img:hover {
    transform: scale(1.1);
}

.howit__info {
    font-size: 25px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.howit__info:hover {
    color: var(--primary);
}


/** ========== Services Section ========== */
.services {
    padding: 100px 0;
}

.service__heading {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 50px;
}

.service__heading span {
    display: block;
}

.services .row .col {
    width: 30%;
    padding: 35px;
    margin-bottom: 25px;
    background-color: var(--secondary);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.services .row .col:hover {
    transform: scale(1.03);
}

.service__img {
    cursor: pointer;
    transition: all .4s ease-in-out;
    margin-bottom: 50px;
}

.service__img:hover {
    transform: rotate(45deg);
}

.service__title {
    font-size: 22px;
}

.service__description {
    line-height: 1.6;
    margin-bottom: 40px;
}

.btn--borderless {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    color: var(--primary);
    font-size: 18px;

}

.btn--borderless i {
    display: inline-block;
    transition: all .4s ease-in-out;
}

.btn--borderless:hover i {
    transform: translateX(7px);
}


/** ========== Contact Section ========== */
.contact {
    padding: 100px 0;
}

.contact .row .col {
    width: 46%;
}

.contact__title {
    font-size: 50px;
}

.contact__description {
    line-height: 1.6;
    margin: 30px 0 60px;
    width: 480px;
}

.contact__box {
    padding: 15px 20px;
    cursor: pointer;
}

.contact__box span {
    display: block;
}

.contact__box:nth-child(1) {
    margin-right: 30px;
    background-color: var(--primary);
    color: var(--white);
    transition: all .4s ease-in-out;
}

.contact__box:nth-child(2) {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--white);
    transition: all .4s ease-in-out;
}

.contact__box:nth-child(1):hover,
.contact__box:nth-child(2):hover {
    transform: scale(1.05);
}

.contact__form {
    padding: 30px;
    background-color: var(--white);
    border-radius: 7px;
}

.form__title {
    font-size: 28px;
}

.form__description {
    line-height: 1.6;
    margin: 25px 0 40px;
}

.contact__form label {
    display: block;
}

.contact__form label span {
    color: var(--primary);
}

.contact__form input,
.contact__form textarea {
    width: 100%;
    border: 1px solid #B4B4B4;
}

.contact__form input {
    padding: 15px;
}

.contact__form textarea {
    padding: 20px;
}

.contact__message {
    margin-bottom: 35px;
}