body {
    font-family: 'Inter', sans-serif;
}

/** ========== Header Section ========== */
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.nav__logo {
    margin-right: 50px;
    user-select: none;
    cursor: pointer;
}

.nav__logo h1 {
    font-size: 22px;
}

.nav__link {
    display: inline-block;
    font-size: 18px;
    position: relative;
    margin-right: 25px;
}

.nav__link::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: var(--primary);
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}


/** ========== Hero Section ========== */
.hero {
    padding: 100px 0;
}

.hero .row .col {
    width: 50%;
}

.hero__heading {
    font-size: 65px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hero__description {
    margin: 30px 0 40px;
    width: 470px;
    line-height: 1.6;
}

.hero__button {
    margin-bottom: 70px;
}

.hero__button p {
    width: 250px;
    line-height: 1.4;
}